*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    padding:20px;
    background:rgb(111, 161, 246);
}

nav{
    display:flex;
    flex-direction:column;
    background:#88d3f9;
    padding:15px;
}

nav a{
    color:rgb(14, 0, 0);
    text-decoration:none;
    padding:10px;
}

@media(min-width:730px){
    nav{
        flex-direction:row;
        gap:30px;
        justify-content:left;
    }
}

/* Heading */
h1{
    text-align:center;
    margin:20px 0;
}

/* Image */
img{
    display:block;
    margin:20px auto;
    width:300px;
    max-width:100%;
    border-radius:20px;
}

/* Video */
video{
    width:50vw;
    display:block;
    margin:auto;
    padding:15px;
    background:rgb(14, 48, 183);
    border-radius:10px;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
    background:rgb(228, 57, 125);
}

th,td{
    border:1px solid black;
    padding:10px;
    text-align:center;
}

th{
    background:#aca51f;
}

/* Button */
button{
    display:block;
    margin:20px auto;
    padding:12px 25px;
    border:none;
    background:rgb(130, 173, 247);
    color:white;
    cursor:pointer;
    border-radius:8px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
    opacity:0.8;
    color:red;
}

/* Grid */
.grid-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin-top:30px;
}

.box{
    background:purple;
    color:white;
    text-align:center;
    padding:30px;
    font-size:20px;
    border-radius:10px;
}

/* Mobile Layout */
@media(max-width:767px){
    .grid-container{
        grid-template-columns:repeat(2,1fr);
    }
}